body{
    width: 60% ;
    background:lightsteelblue ;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
}
.right {
    float: right;
}
.message {
    margin-bottom: 20px;
}
textarea {
    width: 100%;
}
H1{
    font-family: "Segoe Script" ;
}
H2{
    font-family: "Segoe Script" ;
}
#ram{
    border: 4px double black;
    padding: 20px;
    background: darkseagreen ;
}
span{
    font-family: "Segoe Script";
}
#ran{
    border: 4px double black;
    padding: 20px;
    background: lightblue;
}